.quality_b_outer {
height: 29px;
width: 16px;
overflow: hidden;
}
.quality_b {
background: url(../img/icon.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.quality_w_outer {
height: 29px;
width: 16px;
overflow: hidden;
}
.quality_w {
background: url(../img/icon.png) -16px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 16px;
_margin-left: -16px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.quality_outer {
height: 29px;
width: 16px;
overflow: hidden;
}
.quality {
background: url(../img/icon.png) -32px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 32px;
_margin-left: -32px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.river_b_outer {
height: 29px;
width: 28px;
overflow: hidden;
}
.river_b {
background: url(../img/icon.png) -48px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 48px;
_margin-left: -48px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.river_w_outer {
height: 27px;
width: 26px;
overflow: hidden;
}
.river_w {
background: url(../img/icon.png) -76px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 76px;
_margin-left: -76px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.river_outer {
height: 27px;
width: 26px;
overflow: hidden;
}
.river {
background: url(../img/icon.png) -102px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 102px;
_margin-left: -102px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.home_w_outer {
height: 27px;
width: 28px;
overflow: hidden;
}
.home_w {
background: url(../img/icon.png) -0px -29px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 29px;
_margin-top: -29px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.home_outer {
height: 27px;
width: 28px;
overflow: hidden;
}
.home {
background: url(../img/icon.png) -28px -29px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 28px;
_margin-left: -28px;
_padding-top: 29px;
_margin-top: -29px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.wechat_outer {
height: 27px;
width: 32px;
overflow: hidden;
}
.wechat {
background: url(../img/icon.png) -56px -29px no-repeat;
width: 100%;
height: 27px;
_background: none;
_padding-left: 56px;
_margin-left: -56px;
_padding-top: 29px;
_margin-top: -29px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.report_w_outer {
height: 26px;
width: 24px;
overflow: hidden;
}
.report_w {
background: url(../img/icon.png) -88px -29px no-repeat;
width: 100%;
height: 26px;
_background: none;
_padding-left: 88px;
_margin-left: -88px;
_padding-top: 29px;
_margin-top: -29px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.report_outer {
height: 26px;
width: 24px;
overflow: hidden;
}
.report {
background: url(../img/icon.png) -0px -56px no-repeat;
width: 100%;
height: 26px;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.rank_b_outer {
height: 25px;
width: 22px;
overflow: hidden;
}
.rank_b {
background: url(../img/icon.png) -112px -29px no-repeat;
width: 100%;
height: 25px;
_background: none;
_padding-left: 112px;
_margin-left: -112px;
_padding-top: 29px;
_margin-top: -29px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.rank_w_outer {
height: 25px;
width: 22px;
overflow: hidden;
}
.rank_w {
background: url(../img/icon.png) -24px -56px no-repeat;
width: 100%;
height: 25px;
_background: none;
_padding-left: 24px;
_margin-left: -24px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.rank_outer {
height: 25px;
width: 22px;
overflow: hidden;
}
.rank {
background: url(../img/icon.png) -46px -56px no-repeat;
width: 100%;
height: 25px;
_background: none;
_padding-left: 46px;
_margin-left: -46px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.tips_outer {
height: 26px;
width: 26px;
overflow: hidden;
}
.tips {
background: url(../img/icon.png) -68px -56px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 68px;
_margin-left: -68px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.report_b_outer {
height: 24px;
width: 22px;
overflow: hidden;
}
.report_b {
background: url(../img/icon.png) -93px -56px no-repeat;
width: 100%;
height: 24px;
_background: none;
_padding-left: 93px;
_margin-left: -93px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.map_b_outer {
height: 23px;
width: 24px;
overflow: hidden;
}
.map_b {
background: url(../img/icon.png) -0px -82px no-repeat;
width: 100%;
height: 23px;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 82px;
_margin-top: -82px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.map_w_outer {
height: 23px;
width: 24px;
overflow: hidden;
}
.map_w {
background: url(../img/icon.png) -24px -82px no-repeat;
width: 100%;
height: 23px;
_background: none;
_padding-left: 24px;
_margin-left: -24px;
_padding-top: 82px;
_margin-top: -82px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.map_outer {
height: 23px;
width: 24px;
overflow: hidden;
}
.map {
background: url(../img/icon.png) -48px -82px no-repeat;
width: 100%;
height: 23px;
_background: none;
_padding-left: 48px;
_margin-left: -48px;
_padding-top: 82px;
_margin-top: -82px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.arrow_outer {
height: 22px;
width: 22px;
overflow: hidden;
}
.arrow {
background: url(../img/icon.png) -72px -82px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 72px;
_margin-left: -72px;
_padding-top: 82px;
_margin-top: -82px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}
.posi_outer {
height: 18px;
width: 14px;
overflow: hidden;
}
.posi {
background: url(../img/icon.png) -115px -56px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 115px;
_margin-left: -115px;
_padding-top: 56px;
_margin-top: -56px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/icon.png");
}



.dist_map_outer {
height: 52px;
width: 62px;
overflow: hidden;
}
.dist_map {
background: url(../img/btn.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.origin_map_outer {
height: 50px;
width: 58px;
overflow: hidden;
}
.origin_map {
background: url(../img/btn.png) -62px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 62px;
_margin-left: -62px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.river_map_outer {
height: 50px;
width: 64px;
overflow: hidden;
}
.river_map {
background: url(../img/btn.png) -120px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 120px;
_margin-left: -120px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.video_map_outer {
height: 45px;
width: 64px;
overflow: hidden;
}
.video_map {
background: url(../img/btn.png) -184px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 184px;
_margin-left: -184px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.pencil_btn_outer {
height: 27px;
width: 25px;
overflow: hidden;
}
.pencil_btn {
background: url(../img/btn.png) -248px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 248px;
_margin-left: -248px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.horn_btn_outer {
height: 27px;
width: 28px;
overflow: hidden;
}
.horn_btn {
background: url(../img/btn.png) -273px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 273px;
_margin-left: -273px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
.search_btn_outer {
height: 24px;
width: 24px;
overflow: hidden;
}
.search_btn {
background: url(../img/btn.png) -301px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 301px;
_margin-left: -301px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/btn.png");
}
